
<div class="container" >
	<div class="jumbotron">
		<h2>You have been invited!</h2>
		<p>Hi, this is just to inform you that you have been invited by <%= "#{@poll.owner.nil? ? 'Anonymous' : @poll.owner.username}" %> to participate in a poll!</p>
		<p><%= "#{@poll.question.nil? ? 'a question' : @poll.question}" %>?.
		<%= "#{@poll.description.nil? ? ' ' : @poll.description}" %> 
		</p>
	  	<p>The poll is located at
		  	<a href="<%= "https://#{ENV['APP_NAME']}.herokuapp.com/poll/#{@poll.rid}" %>">
		  		<%= "https://#{ENV['APP_NAME']}.herokuapp.com/poll/#{@poll.rid}" %>
			</a>
		</p>
		<p>
			This poll will close in <%= "#{@poll.closedate.nil? ? ' infinity ' : TimeDifference.between(Time.now, @poll.closedate)} " %> hours
		</p>
	</div>
</div>
