<%= styled_flash %>
<p>Your polls:</p>
<% @polls.each do |poll| %>
  <p><%="Poll ##{poll.rid}: #{poll.question}"%></p>
<% end %>
<p>Polls you are invited to:</p>
<% @invites.each do |poll| %>
    <p><%="Poll ##{poll.rid}: #{poll.question}"%></p>
<% end %>

<div id="rancor-homepage" class="container">
    <div class="jumbotron">
        <fieldset style="border:black 2px solid;border-radius:1em; margin:1em">
            <legend style="width:auto;margin:5px;padding:5px">My polls</legend>
            <div class="row">
                <div class="col-sm-6">
                    <p>Poll Question</p>
                </div>
                <div class="col-sm-3">
                    <p>Poll Closing At:</p>
                </div>
            </div>
            <% @polls.each do |poll| %>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-sm-3">
                    <%= "<a href='/poll/#{poll.rid}'>#{poll.question}</a>" %>
                    </div>
                    <div class="col-sm-3">
                    <%= "<a href='/poll/#{poll.rid}/results' class='btn btn-warning btn-sm' role='button'><span class='glyphicon glyphicon-stats'></span>Results</a>" %>
                    </div>
                    <div class="col-sm-3">
                        <% if poll.open %>
                        <%= poll.closedate.nil? ? "open indefinitely" : "#{poll.closedate}" %>
                        <% else %>
                        Poll is closed.
                        <% end %>
                    </div>
                    <% if poll.open %>
                    <%= "<form action='/poll/#{poll.rid}/close' method='post'>" %>
                        <input type="submit" value="Close Poll" class="btn btn-danger btn-sm">
                    </form>
                    <% end %>
                </div>
            <% end %>
        </fieldset>
        <fieldset style="border:black 2px solid;border-radius:1em; margin:1em;">
            <legend style="width:auto;margin:5px;padding:5px">Polls invited to</legend>
            <div class="row">
                <div class="col-sm-6">
                    <p>Poll Question</p>
                </div>
            </div>
            <% @invites.each do |poll| %>
            <div class="row">
                <div class="col-sm-3">
                <%= "<a href='/poll/#{poll.rid}'>#{poll.question}</a>" %>
                </div>
                <div class="col-sm-3">
                <%= "<a href='/poll/#{poll.rid}/results' class='btn btn-warning btn-sm' role='button'><span class='glyphicon glyphicon-stats'></span>Results</a>" %>
                </div>
            </div>
            <% end %>
        </fieldset>
    </div>
</div>
