<%= styled_flash %>
<div id="rancor-homepage" class="container">
    <div class="jumbotron">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">My polls</h3>
            </div> <!-- panel-heading -->
            <div class="panel-body">
            <% @polls.each do |poll| %>
                <div class="row text-left" style="margin-bottom:5px;border-bottom:solid black 1px">
                    <div class="col-sm-7">
                        <a href="/poll/<%= poll.rid %>/results" class="btn btn-warning" role="button" title="See Results"><span class="glyphicon glyphicon-stats"></span></a>
                        <a href="/poll/<%= poll.rid %>" class="btn btn-info" role="button" title="Voting Page"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        <p class="well well-sm glyphicon glyphicon-question-sign" style="font-size:1em">&nbsp<%= poll.question %></p>
                    </div>
                    <div class="col-sm-5">
                        <form action="/poll/<%= poll.rid %>/close" method="post" onsubmit="return confirm('Close poll?')">
                            <% if poll.open %>
                            <button type="submit" value="Close Poll" class="btn btn-danger">
                                <i class="glyphicon glyphicon-time"></i>
                                Close Poll
                            </button>
                            <% end %>
                            <% if poll.open %>
                            <p class="well well-sm" style="font-size:1em;display:inline-block">
                                <% if poll.closedate.nil? %> 
                                open indefinitely
                                <% else %>
                                <script>document.write(new Date("<%= poll.closedate %>").toLocaleString());</script>
                                <% end %>
                            </p>
                            <% else %>
                            <p class="well well-sm" style="font-size:1em;display:inline-block">Poll is closed.</p>
                            <% end %>
                        </form>
                    </div>
                </div>
            <% end %>
            </div> <!-- panel-body -->
        </div> <!-- my polls panel-info -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Polls invited to</h3>
            </div>
            <div class="panel-body">
            <% @invites.each do |poll| %>
                <div class="row text-left" style="margin-bottom:5px;border-bottom:solid black 1px">
                    <div class="col-sm-7">
                        <a href="/poll/<%= poll.rid %>/results" class="btn btn-warning" role="button" title="See Results"><span class="glyphicon glyphicon-stats"></span></a>
                        <a href="/poll/<%= poll.rid %>" class="btn btn-info" role="button" title="Voting Page"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        <p class="well well-sm glyphicon glyphicon-question-sign" style="font-size:1em">&nbsp<%= poll.question %></p>
                    </div>
                    <div class="col-sm-5">
                        <% if poll.open %>
                        Closing time:
                        <p class="well well-sm" style="font-size:1em;display:inline-block">
                            <% if poll.closedate.nil? %> 
                            open indefinitely
                            <% else %>
                            <script>document.write(new Date("<%= poll.closedate %>").toLocaleString());</script>
                            <% end %>
                        </p>
                        <% else %>
                        <p class="well well-sm" style="font-size:1em;display:inline-block">Poll is closed.</p>
                        <% end %>
                    </div>
                </div>
            <% end %>
            </div> <!-- panel-body -->
        </div> <!-- invited polls panel-info -->
    </div> <!-- jumbotron -->
</div> <!-- rancor-homepage -->
