<div class="container" id="poll_question_container">
  <div class="jumbotron">
    <table>
      <tr>
        <td class="question"><%= @poll.question %></td>
        <td ><a href="#" class="btn btn-lg custom" id="vote"><span class="glyphicon glyphicon glyphicon-stats"></span> Results</a></td>
      </tr>
    </table>
    <div>
      <div class="count">
        <table>
          <% 1.upto(@poll.options.size) do |row|%>
              <tr>
                <td class="rank"><%= row.ordinalize.capitalize %></td>
              </tr>
          <% end %>
        </table>
      </div>
      <div class="option">
        <table>
          <ul class="list-group" id="sortable_options">
            <% @poll.options.each do |option|%>
                <li class="list-group-item" id="<%= option.text %>"><%= option.text %><i class="glyphicon glyphicon-sort">&nbsp</i></li>
            <% end %>
          </ul>
        </table>
      </div>
    </div>
    <div class="col-md-1">
      <a href="#" class="btn btn-info btn-lg" id="vote"><span class="glyphicon glyphicon-chevron-right"></span> Vote</a>
    </div>
  </div>
  <%= styled_flash %>
</div>